{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">

  <h1 class="display -4"> Contacto   </h1>
  <p class="lead"> Nos puedes contactar por estos medios: </p>

  <div class="jumbotron-head">
    <img alinear="left" src="../static/contacto.png">
    <img src="https://www.gifsanimados.org/data/media/1664/en-construccion-y-obra-imagen-animada-0027.gif" width="150" height="150">
  </div>
 


  <div class="jumbotron_images">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.8588782952547!2d-99.14159928461389!3d19.28850225026971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce005294195cbf%3A0xd1f1d361875e2b82!2sPreparatoria%20La%20Salle%20del%20Pedregal!5e0!3m2!1ses!2smx!4v1666108649623!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <img src="https://i.pinimg.com/originals/50/19/37/5019379a868ec2d7a125f78503dcacd9.gif" width="550" height="300">
  </div>
  

</div>

{% endblock %}
