{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">

  <div>
    <h1 class="display -4">Pagina Empresarial Informática </h1>
    <p class="lead"> ⚜️ Información de la Empresa ⚜️ </p>
    <a class="btn btn-primary btn-lg" href="http://plsp.edu.mx" target="_blank" role="button">Página de la PLSP</a>
    <img alinear="left" src="../static/logo.jpg" width="130" height="100">
    <img alinear="left" src="../static/papeleria.jpg" width="130" height="90">
  </div>


  <div>
    <iframe width="250" height="125" src="https://reloj-alarma.com/embed/#theme=0&m=0&showdate=1" frameborder="0" allowfullscreen></iframe>   
  </div>
  

 <div id="sfcp6thqhm6xwgrn2xfs5xfzlcjrtjejmtg"></div>
 <script type="text/javascript" src="https://counter9.stat.ovh/private/counter.js?c=p6thqhm6xwgrn2xfs5xfzlcjrtjejmtg&down=async" async></script>
  <a href="https://www.contadorvisitasgratis.com">contador de visitas html codigo</a><noscript><a href="https://www.contadorvisitasgratis.com" title="contador de visitas html codigo"><img src="https://counter9.stat.ovh/private/contadorvisitasgratis.php?c=p6thqhm6xwgrn2xfs5xfzlcjrtjejmtg" border="0" title="contador de visitas html codigo" alt="contador de visitas html codigo"></a></noscript>

</div>
{% endblock %}


