{% extends "layout.html" %}
 
{% block content %}
<div class="services">
  <div class="services_item">
    <h1 class="display -4"> Sistemas</h1>
    <p class="lead"> Nos puedes contactar por estos medios: </p>
    <img src="https://www.gifsanimados.org/data/media/1664/en-construccion-y-obra-imagen-animada-0027.gif" width="150" height="150">
    <img alinear="left" src="../static/sistemas.png" width="130" height="100">
  </div>
  
  <div class="services_item">
    <img src="https://i.pinimg.com/originals/50/19/37/5019379a868ec2d7a125f78503dcacd9.gif" width="550" height="300">
  </div>
</div>

{% endblock %}
